<div class="flex min-h-screen dark:bg-gray-900 bg-white">
    <div class="left-side">
        <div class="pagination-container">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col-span-12">
            <div class="overflow-auto lg:overflow-visible ">
                <table class="table text-gray-400 border-separate space-y-6 text-sm">
                    <thead class="dark:bg-gray-800  bg-slate-50 text-gray-500">
                        <tr>
                            <th class="p-3">No</th>
                            <th class="p-3">Name</th>
                            <th class="p-3 text-left">Status</th>
                            <th class="p-3 text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let pokemon of pokemonList| paginate: { itemsPerPage: 10, currentPage: p }; index as i; trackBy:key">
                        <tr class="dark:bg-gray-800 bg-slate-50">
                            <td class="p-3">
                                <span class="">{{i+1}}</span>
                            </td>
                            <td class="p-3">
                                <div class="flex align-items-center">
                                    <div class="ml-3" (click)="selectPokemon(pokemon.name)">
                                        <div class="banana">{{pokemon.name | titlecase }}</div>
                                    </div>

                                </div>
                            </td>
                            <td class="p-3">
                                <span
                                    [ngClass]="{'bg-green-400': pokemon?.favorite == true, 'bg-red-400':  pokemon?.favorite !== true  }"
                                    class="text-gray-50 rounded-md px-2">favorite</span>
                            </td>
                            <td class="p-3">
                                <button (click)="addToFavorite(pokemon)">Add to favorite</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <div class="right-side">
        <app-selected-pokemon [selectedPokemon]="pokemon"></app-selected-pokemon>
    </div>

</div>