<div class="p-6 max-w-sm rounded-lg border border-gray-500 shadow-md dark:bg-gray-800 bg-slate-50 text-gray-500">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-500 dark:text-white">{{selectedPokemon?.name|
        titlecase}}</h5>

    <div class="flex-row flex">
        <div class="flex-col">
            <img #front src={{selectedPokemon?.sprites.front_default}}>
            <img #back src={{selectedPokemon?.sprites.back_default}}>
        </div>
        <div class="flex-col">
            <img #front src={{selectedPokemon?.sprites.front_shiny}}>
            <img #front src={{selectedPokemon?.sprites.back_shiny}}>
        </div>
    </div>
    <div *ngFor="let types of selectedPokemon?.types" class="p-3">
        <span class="bg-{{types?.type?.name}} text-gray-50 rounded-md px-2">{{types?.type?.name}}</span>

    </div>

    <ul class="list-none mt-4" style="width: 20rem;">
        <li class="border-b-2  bg-transparent py-2 px-4">Height <b class="float-right">{{selectedPokemon?.height}}</b>
        </li>
        <li class="border-b-2  bg-transparent py-2 px-4">Weight <b class="float-right">{{selectedPokemon?.weight}}</b>
        </li>
    </ul>
    <ul class="list-none mt-4">
        Abilities:
        <li *ngFor="let ability of selectedPokemon?.abilities" class="border-b-2 bg-transparent py-2 px-4">
            <div> {{ability.ability.name | titlecase}} </div>
            <app-abilities-description [dope]="ability.ability.url"></app-abilities-description>
        </li>

    </ul>
</div>